*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #e4b5c3;

}
.container {
    background-color: antiquewhite;
    width: 90vmin;
    position: absolute;
    transform: translate(-50% , -50%);
    left: 50%;
    top: 40%;
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(38, 33reen, 61, 0.2);
}
.search-box{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.search-box input{
    padding: 5px;
    width: 80%;
}
.search-box button{
    padding: 5px;
    width: 20%;
    background-color: #ae9cff;
    color: aliceblue;
    border-radius: 5px;
}
.result .word {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}
.result button{

    border: none;
    font-size: 18px;
outline: none;
}
.result .details{
    display: flex;
    gap: 10px;
    color: royalblue;
    margin: 5px 0 20px 0;
    font-size: 14px;
}
.word-meaning{
    color: black;

}
.word-example{
    color: black;
    font-style: italic;
    border-left: 5px solid #ae9cff;
    padding-left: 20px;
    margin-top: 30px;
    
}
.loading {
    display: none;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    font-family:  'Muli', sans-serif;
    color: #2D3748;
  }